<!----============= Header Start =============---->

<app-header></app-header>

<!----============= Header End =============---->

<router-outlet></router-outlet>

<!-- ========== Footer Start ========== -->

<app-footer></app-footer>

<!-- =========Footer End ========== -->

<!-- Left Down Icons -->
<div class="left_icon_container">
  <div class="icon_swaper">

    <div class="icon_content">
      <a target="_blank" href="https://wa.me/971585033300">
        <i class="bi bi-whatsapp"></i>
      </a>
    </div>

  </div>
</div>