<section>

  <!-- Banner Section -->
  <div class="background_img">
    <div class="bg_img_overlay"></div>

    <div class="content_section">
      <h2>Human Resource Management System</h2>
    </div>
  </div>

  <!-- Content -->
  <div class="container">

    <div class="row mt-3 py-5">

      <div class="col-md-6">
        <div class="image_container">
          <img src="assets/images/products/8. HR-management-system.jpg" class="img-fluid" alt="">
        </div>
      </div>
      <div class="col-md-6 d-flex align-items-center">
        <div class="w-100 content_container">

          <p class="mt-3">
            A Human Resource Management System (HRMS) is a comprehensive software solution designed to streamline and integrate various human resource functions within an
             organization. It serves as a centralized platform that combines numerous HR processes, including employee data management, payroll administration, benefits 
             administration, performance management, and talent acquisition. By consolidating these functions into a single system, HRMS eliminates redundancy, reduces 
             manual work, and enhances the overall efficiency of HR operations.
          </p>

          <!-- <p class="mt-3">Finance and Accounting Management Software helps businesses manage financial transactions and
            accounting processes. It allows companies to automate their financial operations, such as accounts payable,
            receivable, payroll, invoicing, and financial reporting.
          </p> -->

          <p class="mt-3">This technology-driven solution empowers HR professionals to manage the entire employee lifecycle more effectively. It often includes features like 
            self-service portals for employees, enabling them to access and update their personal information, submit leave requests, and participate in performance evaluations.
             Additionally, HRMS provides real-time data and analytics, allowing organizations to make informed decisions, track workforce trends, and ensure compliance with 
             regulatory requirements. As a result, HRMS is a strategic tool that not only automates routine tasks but also enables HR departments to focus on strategic initiatives
              that contribute to employee engagement, organizational development, and long-term success.
          </p>

          <button class="btn btn-dark rounded-5">Contact</button>
        </div>
      </div>

    </div>

    <div class="py-5">
      <h1 class="text-center">Key Features</h1>
    </div>

    <div class="tabs_container">
      <ul ngbNav #nav="ngbNav" class="nav-tabs">

        <li [ngbNavItem]="1">
          <button ngbNavLink>Employee Data Management</button>

          <ng-template ngbNavContent>
            <div class="row mt-3 py-5">

              <div class="col-md-6 d-flex align-items-center">
                <div class="w-100 tabs_content_container">

                  <h3>Employee Data Management</h3>

                  <p class="mt-3">Effortlessly centralize and manage employee information, ensuring accurate and up-to-date records with our HRMS.
                  </p>

                </div>
              </div>

              <div class="col-md-6">
                <div class="image_container">
                  <img src="https://axolonerp.com/wp-content/uploads/2022/11/accounts_tab-new.webp" class="img-fluid"
                    alt="">
                </div>
              </div>

            </div>
          </ng-template>

        </li>

        <li [ngbNavItem]="2">
          <button ngbNavLink>Time and Attendance Tracking</button>

          <ng-template ngbNavContent>
            <div class="row mt-3 py-5">

              <div class="col-md-6 d-flex align-items-center">
                <div class="w-100 tabs_content_container">

                  <h3>Time and Attendance Tracking</h3>

                  <p class="mt-3">
                    Automate timekeeping, streamline attendance tracking, and enforce compliance with labor regulations for a more efficient workforce management.
                  </p>

                </div>
              </div>

              <div class="col-md-6">
                <div class="image_container">
                  <img
                    src="https://axolonerp.com/wp-content/uploads/2022/07/AxolonERP-Advanced-credit-control-system-768x430.png"
                    class="img-fluid" alt="">
                </div>
              </div>

            </div>
          </ng-template>

        </li>

        <!-- <li [ngbNavItem]="3">
          <button ngbNavLink>
            Payroll Integration
          </button>

          <ng-template ngbNavContent>
            <div class="row mt-3 py-5">

              <div class="col-md-6 d-flex align-items-center">
                <div class="w-100 tabs_content_container">

                  <h3>
                    Payroll Integration
                  </h3>

                  <p class="mt-3">
                    Seamlessly integrate with payroll systems to ensure precise and timely salary calculations, reducing manual errors and improving payroll processing.
                  </p>

                </div>
              </div>

              <div class="col-md-6">
                <div class="image_container">
                  <img src="https://axolonerp.com/wp-content/uploads/2022/07/AxolonERP-Prepayment-dashboard-768x534.png"
                    class="img-fluid" alt="">
                </div>
              </div>

            </div>
          </ng-template>

        </li> -->

        <li [ngbNavItem]="4">
          <button ngbNavLink>Performance Management</button>

          <ng-template ngbNavContent>
            <div class="row mt-3 py-5">

              <div class="col-md-6 d-flex align-items-center">
                <div class="w-100 tabs_content_container">

                  <h3>Performance Management</h3>

                  <p class="mt-3">
                    Facilitate performance appraisals, set goals, and track employee achievements to foster a culture of continuous improvement and talent development.
                  </p>

                </div>
              </div>

              <div class="col-md-6">
                <div class="image_container">
                  <img src="https://axolonerp.com/wp-content/uploads/2022/07/AxolonERP-Prepayment-dashboard-768x534.png"
                    class="img-fluid" alt="">
                </div>
              </div>

            </div>
          </ng-template>

        </li>

        <li [ngbNavItem]="5">
          <button ngbNavLink>Recruitment and Onboarding</button>

          <ng-template ngbNavContent>
            <div class="row mt-3 py-5">

              <div class="col-md-6 d-flex align-items-center">
                <div class="w-100 tabs_content_container">

                  <h3>Recruitment and Onboarding</h3>

                  <p class="mt-3">
                    Simplify the hiring process with streamlined recruitment workflows, from posting job openings to managing onboarding tasks for new hires.
                  </p>

                </div>
              </div>

              <div class="col-md-6">
                <div class="image_container">
                  <img
                    src="https://axolonerp.com/wp-content/uploads/2022/07/AxolonERP-Bank-facilities-dashboard-768x547.png"
                    class="img-fluid" alt="">
                </div>
              </div>

            </div>
          </ng-template>

        </li>

      </ul>

      <div [ngbNavOutlet]="nav" class="mt-2"></div>
    </div>

  </div>

</section>