<section class="py-5">
  <div class="container">
    <div class="row">

      <div class="col-12 py-4">
        <div class="d-flex justify-content-center">
          <div class="heading_section">
            <!-- text-uppercase -->
            <h2 class="text-center">Stay organized with all your people data in one place</h2>
            <p class="text-center">Ditch spreadsheets and data errors, and ensure team details and documents remain compliant with one system of record.</p>
          </div>
        </div>
      </div>

      <div class="row py-4">

        <div class="col-md-6 col-lg-4 mt-2">
          <div class="card card_container">
            <img src="assets/images/icons/hris-directory.webp"
              class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">People Directory</h5>
              <p class="card-text">Easily search and filter your workforce by team, status, country, title, and more</p>
            </div>
          </div>
        </div>

        <div class="col-md-6 col-lg-4 mt-2">
          <div class="card card_container">
            <img src="assets/images/icons/hris-org-chart.webp"
              class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Org Charts</h5>
              <p class="card-text">See your organization in a snapshot and improve understanding between teams</p>
            </div>
          </div>
        </div>

        <div class="col-md-6 col-lg-4 mt-2">
          <div class="card card_container">
            <img src="assets/images/icons/hris-profiles.webp"
              class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Personal Profiles</h5>
              <p class="card-text">Manage compensation, titles, documents, with a change log for everything</p>
            </div>
          </div>
        </div>

      </div>

    </div>
  </div>
</section>