<section class="py-5">
  <div class="container">
    <div class="row">

      <div class="col-12 py-4">
        <div class="d-flex justify-content-center">
          <div class="heading_section">
            <h2 class="text-center text-uppercase">We'd love to hear from you</h2>
            <p class="text-center">It is our pleasure to hear from you. Axolon is one of the ERP Software Company Dubai,
              UAE. If you require further information about our products and services, please do not hesitate to contact
              us. Our representative will reply to you at the earliest possible. Please use the contact form below for
              any inquiries.</p>
          </div>
        </div>
      </div>

      <div class="row py-4">

        <div class="col-md-6 col-lg-4 mt-2">
          <div class="card card_container">
            <img src="https://19498232.fs1.hubspotusercontent-na1.net/hubfs/19498232/hris-directory.png"
              class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                card's content.</p>
            </div>
          </div>
        </div>

        <div class="col-md-6 col-lg-4 mt-2">
          <div class="card card_container">
            <img src="https://19498232.fs1.hubspotusercontent-na1.net/hubfs/19498232/hris-directory.png"
              class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                card's content.</p>
            </div>
          </div>
        </div>

        <div class="col-md-6 col-lg-4 mt-2">
          <div class="card card_container">
            <img src="https://19498232.fs1.hubspotusercontent-na1.net/hubfs/19498232/hris-directory.png"
              class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                card's content.</p>
            </div>
          </div>
        </div>

      </div>

    </div>
  </div>
</section>