<!-- Section 3 -->
<section class="py-5">
  <div class="container">
    <div class="row">

      <div class="col-lg-6 d-flex justify-content-center align-items-center">

        <div class="w-100">


          <h3>The Importance Of Human Resource Management</h3>
          <p>The purpose of HRM practices is to manage the people within a workplace to achieve the organization's mission and reinforce the corporate culture. When people management is done effectively, HR managers can help recruit new employees who have the skills to further the company's goals. HR professionals also aid in the training and professional development of employees to meet the organization's objectives.</p>
          <P>A company is only as good as its employees, making HRM a crucial part of maintaining or improving the health of the business. Additionally, HR managers monitor the state of the job market to help the organization stay competitive. This could include ensuring compensation and benefits are competitive, events are planned to keep employees from burning out and job roles are adapted based on the market.</P>
        </div>
      </div>

      <div class="col-lg-6 d-flex justify-content-center align-items-center">
        <div class="w-100">
          <img src="assets/images/sections/Section_3-infographics-1.png" class="img-fluid about_us_img" alt="">
        </div>
      </div>

    </div>
  </div>
</section>