<section>

  <!-- Banner Section -->
  <div class="background_img">
    <div class="bg_img_overlay"></div>

    <div class="content_section">
      <h2>Timesheet & Attendance Management Software</h2>
    </div>
  </div>

  <!-- Content -->
  <div class="container">

    <div class="row mt-3 py-5">

      <div class="col-md-6">
        <div class="image_container">
          <img src="assets/images/products/9. 650-500.jpg" class="img-fluid" alt="">
        </div>
      </div>
      <div class="col-md-6 d-flex align-items-center">
        <div class="w-100 content_container">

          <p class="mt-3">A Timesheet and Attendance Management Software is a digital solution designed to automate and optimize the recording and tracking of employee work hours 
            and attendance. It replaces traditional manual methods, such as paper timesheets or punch cards, with an electronic system that offers increased accuracy and efficiency.
             Employees can easily log their working hours, clock in and out, and even associate their time entries with specific projects or tasks.
          </p>

          <!-- <p class="mt-3">Finance and Accounting Management Software helps businesses manage financial transactions and
            accounting processes. It allows companies to automate their financial operations, such as accounts payable,
            receivable, payroll, invoicing, and financial reporting.
          </p> -->

          <p class="mt-3">This software is invaluable for businesses of all sizes, providing features such as leave management, real-time attendance monitoring, and integration with
             biometric devices for enhanced accuracy. By automating these processes, organizations can reduce errors, ensure compliance with labor regulations, and streamline the 
             overall workforce management, leading to improved efficiency and productivity. Additionally, the software often integrates with payroll systems, facilitating accurate
              salary calculations based on precise time and attendance data. Overall, it's a crucial tool for modern businesses seeking to enhance their operational processes
               and workforce management strategies.
          </p>

          <button class="btn btn-dark rounded-5">Contact</button>
        </div>
      </div>

    </div>

    <div class="py-5">
      <h1 class="text-center">Key Features</h1>
    </div>

    <div class="tabs_container">
      <ul ngbNav #nav="ngbNav" class="nav-tabs">

        <li [ngbNavItem]="1">
          <button ngbNavLink>Clock-In/Clock-Out</button>

          <ng-template ngbNavContent>
            <div class="row mt-3 py-5">

              <div class="col-md-6 d-flex align-items-center">
                <div class="w-100 tabs_content_container">

                  <h3>Clock-In/Clock-Out</h3>

                  <p class="mt-3">Effortlessly track employee attendance with electronic clock-in and clock-out features, ensuring accurate time records for payroll processing
                  </p>

                </div>
              </div>

              <div class="col-md-6">
                <div class="image_container">
                  <img src="https://axolonerp.com/wp-content/uploads/2022/11/accounts_tab-new.webp" class="img-fluid"
                    alt="">
                </div>
              </div>

            </div>
          </ng-template>

        </li>

        <li [ngbNavItem]="2">
          <button ngbNavLink>Leave Management</button>

          <ng-template ngbNavContent>
            <div class="row mt-3 py-5">

              <div class="col-md-6 d-flex align-items-center">
                <div class="w-100 tabs_content_container">

                  <h3>Leave Management</h3>

                  <p class="mt-3">
                    Simplify absence tracking and leave requests, allowing employees to manage time-off seamlessly while providing managers with an organized leave management system.
                  </p>

                </div>
              </div>

              <div class="col-md-6">
                <div class="image_container">
                  <img
                    src="https://axolonerp.com/wp-content/uploads/2022/07/AxolonERP-Advanced-credit-control-system-768x430.png"
                    class="img-fluid" alt="">
                </div>
              </div>

            </div>
          </ng-template>

        </li>

        <li [ngbNavItem]="3">
          <button ngbNavLink>
            Project and Task Tracking
          </button>

          <ng-template ngbNavContent>
            <div class="row mt-3 py-5">

              <div class="col-md-6 d-flex align-items-center">
                <div class="w-100 tabs_content_container">

                  <h3>
                    Project and Task Tracking
                  </h3>

                  <p class="mt-3">
                    Associate working hours with specific projects or tasks for enhanced project management, billing accuracy, and a detailed overview of resource allocation.
                  </p>

                </div>
              </div>

              <div class="col-md-6">
                <div class="image_container">
                  <img src="https://axolonerp.com/wp-content/uploads/2022/07/AxolonERP-Prepayment-dashboard-768x534.png"
                    class="img-fluid" alt="">
                </div>
              </div>

            </div>
          </ng-template>

        </li>

        <li [ngbNavItem]="4">
          <button ngbNavLink>Biometric Integration</button>

          <ng-template ngbNavContent>
            <div class="row mt-3 py-5">

              <div class="col-md-6 d-flex align-items-center">
                <div class="w-100 tabs_content_container">

                  <h3>Biometric Integration</h3>

                  <p class="mt-3">
                    Enhance security and accuracy with biometric device integration, preventing buddy punching and ensuring precise attendance records.
                  </p>

                </div>
              </div>

              <div class="col-md-6">
                <div class="image_container">
                  <img src="https://axolonerp.com/wp-content/uploads/2022/07/AxolonERP-Prepayment-dashboard-768x534.png"
                    class="img-fluid" alt="">
                </div>
              </div>

            </div>
          </ng-template>

        </li>

        <li [ngbNavItem]="5">
          <button ngbNavLink>Mobile Accessibility</button>

          <ng-template ngbNavContent>
            <div class="row mt-3 py-5">

              <div class="col-md-6 d-flex align-items-center">
                <div class="w-100 tabs_content_container">

                  <h3>Mobile Accessibility</h3>

                  <p class="mt-3">
                    Enable employees to conveniently clock in/out and access timesheets on-the-go with mobile apps, providing flexibility for remote or field workers.
                  </p>

                </div>
              </div>

              <div class="col-md-6">
                <div class="image_container">
                  <img
                    src="https://axolonerp.com/wp-content/uploads/2022/07/AxolonERP-Bank-facilities-dashboard-768x547.png"
                    class="img-fluid" alt="">
                </div>
              </div>

            </div>
          </ng-template>

        </li>

      </ul>

      <div [ngbNavOutlet]="nav" class="mt-2"></div>
    </div>

  </div>

</section>
