<section id="home_section">
  <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active"
        aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1"
        aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2"
        aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">

      <div class="carousel-item carousel_item active" id="0">
        <img id="carousel_image_0" src="assets/images/banner/banner-1.jpg" class="d-block w-100" alt="...">
        <div class="carousel_caption item_carousel_1">
          <!-- <h2><span>All-in-one</span> <br> solution for <br> your business </h2> -->
        </div>
      </div>

      <div class="carousel-item carousel_item" id="1">
        <img id="carousel_image_1" src="assets/images/banner/banner-2.jpg" class="d-block w-100" alt="...">
        <div class="carousel_caption item_carousel_2">
          <!-- <h2>Drive Your <br> <span>Business</span> Forward </h2> -->
        </div>
      </div>

      <div class="carousel-item carousel_item" id="2">
        <img id="carousel_image_2" src="assets/images/banner/banner-3.jpg" class="d-block w-100" alt="...">
        <div class="carousel_caption item_carousel_3">
          <!-- <h2><span>AXOLON</span> <br> BUSINESS EFFICIENCY <br> REDEFINED </h2> -->
        </div>
      </div>

    </div>

    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>

</section>