// Section 1
.carousel_item {
  img {
    -webkit-transition: 0.9s ease-in-out;
    transition: 0.9s ease-in-out;
    -ms-transition: 0.9s ease-in-out;
    -moz-transition: 0.9s ease-in-out;
    -o-transition: 0.9s ease-in-out;
  }

  .carousel_caption {
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #fff;
    text-align: center;

    span {
      color: #0d6efd;
    }

    h2 {
      font-size: 50px;
      text-transform: uppercase;
    }

    &.item_carousel_1 {
      left: 25%;

      h2 {
        text-align: start;
      }
    }

    &.item_carousel_2 {
      left: 50%;

      h2 {
        text-align: center;
      }
    }

    &.item_carousel_3 {
      left: 25%;

      h2 {
        text-align: start;
      }
    }
  }
}

@media (max-width: 576px) {
  .carousel_item {
    .carousel_caption {
      h2 {
        font-size: 14px;
      }
    }
  }
}

@media (min-width: 576px) {
  .carousel_item {
    .carousel_caption {
      h2 {
        font-size: 22px;
      }
    }
  }
}

@media (min-width: 768px) {
  .carousel_item {
    .carousel_caption {
      h2 {
        font-size: 28px;
      }
    }
  }
}

@media (min-width: 992px) {
  .carousel_item {
    .carousel_caption {
      h2 {
        font-size: 38px;
      }
    }
  }
}

@media (min-width: 1200px) {
  .carousel_item {
    .carousel_caption {
      h2 {
        font-size: 50px;
      }
    }
  }
}
