<section>

  <!-- Banner Section -->
  <div class="background_img">
    <div class="bg_img_overlay"></div>

    <div class="content_section">
      <h2>Partners</h2>
    </div>
  </div>

  <div class="container">
    <div class="row py-5">

      <div class="col-12">
        <h1 class="text-center fw-bold">Why go for An iSAP.HR </h1>
      </div>

    </div>

    <div class="row py-5">

      <div class="col-sm-6 col-md-4">
        <div class="card_container">
          <div class="image_container">
            <img src="assets/images/icons/for-you-icon.png" class="img-fluid" alt="">
          </div>

          <h5>Built for you</h5>
          <p>iSAP.HR, The best end-to-end HR Management System for your professional and creative
            organization.</p>
        </div>
      </div>

      <div class="col-sm-6 col-md-4">
        <div class="card_container">
          <div class="image_container">
            <img src="assets/images/icons/local-1.png" class="img-fluid" alt="">
          </div>

          <h5>Making it Local</h5>
          <p>iSAP.HR is a Highly effective & fast solution for business management to boost your business.</p>
        </div>
      </div>

      <div class="col-sm-6 col-md-4">
        <div class="card_container">
          <div class="image_container">
            <img src="assets/images/icons/support-icon.png" class="img-fluid" alt="">
          </div>

          <h5>Un parallel Support</h5>
          <p>Following your implementation and support, our team will guide you.</p>
        </div>
      </div>

    </div>

  </div>

  <div class="our_partners_section">
    <div class="container">
      <div class="row py-5">
        <div class="pb-5">
          <h1>Our Partners</h1>
        </div>

        <owl-carousel-o [options]="customOptions">

          @for (slide of PartnerSlidesStore; track slide.id) {
          <ng-container>
            <ng-template carouselSlide [id]="slide.id">
              <div class="owl_container">
                <div class="logo_container">
                  <div class="logo">
                    <img [src]="slide.src" alt="img">
                  </div>
                </div>

                <div class="content">
                  <h2>hals</h2>

                  <div class="address_container">
                    <span>
                      <i class="bi bi-geo-alt-fill"></i>
                      <p>Dubai, UAE</p>
                    </span>

                    <!-- <span>
                      <i class="bi bi-telephone-fill"></i>
                      <p>+971 67479800</p>
                    </span> -->

                    <span>
                      <i class="bi bi-envelope-fill"></i>
                      <p>sholy&#64;halsca.com</p>
                    </span>
                  </div>

                </div>
              </div>
            </ng-template>
          </ng-container>
          }

        </owl-carousel-o>
      </div>
    </div>
  </div>

</section>