<section>

  <!-- Banner Section -->
  <div class="background_img">
    <div class="bg_img_overlay"></div>

    <div class="content_section">
      <h2>Recruitment Management System</h2>
    </div>
  </div>

  <!-- Content -->
  <div class="container">

    <div class="row mt-3 py-5">

      <div class="col-md-6">
        <div class="image_container">
          <img src="assets/images/products/11. recruitment-management-software.jpg" class="img-fluid" alt="">
        </div>
      </div>
      <div class="col-md-6 d-flex align-items-center">
        <div class="w-100 content_container">

          <p class="mt-3">A Recruitment Management System (RMS) is a specialized software solution designed to streamline and optimize the end-to-end recruitment process for 
            organizations. It acts as a centralized platform that automates key aspects of talent acquisition, from job posting and candidate sourcing to applicant tracking and 
            interview scheduling. The system helps recruiters manage and organize large volumes of applicant data efficiently, ensuring a seamless and structured hiring workflow.
          </p>

          <!-- <p class="mt-3">Finance and Accounting Management Software helps businesses manage financial transactions and
            accounting processes. It allows companies to automate their financial operations, such as accounts payable,
            receivable, payroll, invoicing, and financial reporting.
          </p> -->

          <p class="mt-3">Recruitment Management Systems often include features like resume parsing, allowing for the automatic extraction of relevant information from resumes,
             and collaboration tools to facilitate communication among hiring teams. Additionally, analytics and reporting functionalities enable organizations to assess the 
             effectiveness of their recruitment strategies and make data-driven decisions to continually improve the hiring process. Overall, an RMS is a strategic tool that 
             enhances efficiency, reduces manual effort, and contributes to building a strong and qualified workforce.
          </p>

          <button class="btn btn-dark rounded-5">Contact</button>
        </div>
      </div>

    </div>

    <div class="py-5">
      <h1 class="text-center">Key Features</h1>
    </div>

    <div class="tabs_container">
      <ul ngbNav #nav="ngbNav" class="nav-tabs">

        <li [ngbNavItem]="1">
          <button ngbNavLink>Applicant Tracking System (ATS)</button>

          <ng-template ngbNavContent>
            <div class="row mt-3 py-5">

              <div class="col-md-6 d-flex align-items-center">
                <div class="w-100 tabs_content_container">

                  <h3>Applicant Tracking System (ATS)</h3>

                  <p class="mt-3">Efficiently manage the entire recruitment lifecycle with an Applicant Tracking System, organizing and tracking candidate applications seamlessly.
                  </p>

                </div>
              </div>

              <div class="col-md-6">
                <div class="image_container">
                  <img src="https://axolonerp.com/wp-content/uploads/2022/11/accounts_tab-new.webp" class="img-fluid"
                    alt="">
                </div>
              </div>

            </div>
          </ng-template>

        </li>

        <li [ngbNavItem]="2">
          <button ngbNavLink>Resume Parsing and Keyword Matching</button>

          <ng-template ngbNavContent>
            <div class="row mt-3 py-5">

              <div class="col-md-6 d-flex align-items-center">
                <div class="w-100 tabs_content_container">

                  <h3>Resume Parsing and Keyword Matching</h3>

                  <p class="mt-3">
                    Automate the screening process by parsing resumes and employing keyword matching algorithms, ensuring swift identification of candidates with the right qualifications..
                  </p>

                </div>
              </div>

              <div class="col-md-6">
                <div class="image_container">
                  <img
                    src="https://axolonerp.com/wp-content/uploads/2022/07/AxolonERP-Advanced-credit-control-system-768x430.png"
                    class="img-fluid" alt="">
                </div>
              </div>

            </div>
          </ng-template>

        </li>

        <li [ngbNavItem]="3">
          <button ngbNavLink>
            Interview Scheduling and Collaboration Tools
          </button>

          <ng-template ngbNavContent>
            <div class="row mt-3 py-5">

              <div class="col-md-6 d-flex align-items-center">
                <div class="w-100 tabs_content_container">

                  <h3>
                    Interview Scheduling and Collaboration Tools
                  </h3>

                  <p class="mt-3">
                    Streamline interview scheduling and enhance team collaboration with built-in tools, promoting efficient communication among hiring teams.
                  </p>

                </div>
              </div>

              <div class="col-md-6">
                <div class="image_container">
                  <img src="https://axolonerp.com/wp-content/uploads/2022/07/AxolonERP-Prepayment-dashboard-768x534.png"
                    class="img-fluid" alt="">
                </div>
              </div>

            </div>
          </ng-template>

        </li>

        <li [ngbNavItem]="4">
          <button ngbNavLink>Customizable Recruitment Workflows</button>

          <ng-template ngbNavContent>
            <div class="row mt-3 py-5">

              <div class="col-md-6 d-flex align-items-center">
                <div class="w-100 tabs_content_container">

                  <h3>Customizable Recruitment Workflows</h3>

                  <p class="mt-3">
                    Tailor recruitment workflows to align with organizational needs, creating a flexible and scalable system that adapts to specific hiring processes.
                  </p>

                </div>
              </div>

              <div class="col-md-6">
                <div class="image_container">
                  <img src="https://axolonerp.com/wp-content/uploads/2022/07/AxolonERP-Prepayment-dashboard-768x534.png"
                    class="img-fluid" alt="">
                </div>
              </div>

            </div>
          </ng-template>

        </li>

        <li [ngbNavItem]="5">
          <button ngbNavLink>Analytics and Reporting</button>

          <ng-template ngbNavContent>
            <div class="row mt-3 py-5">

              <div class="col-md-6 d-flex align-items-center">
                <div class="w-100 tabs_content_container">

                  <h3>Analytics and Reporting</h3>

                  <p class="mt-3">
                    Gain actionable insights into recruitment metrics, track the performance of job postings, and make informed decisions to optimize and refine recruitment strategies.
                  </p>

                </div>
              </div>

              <div class="col-md-6">
                <div class="image_container">
                  <img
                    src="https://axolonerp.com/wp-content/uploads/2022/07/AxolonERP-Bank-facilities-dashboard-768x547.png"
                    class="img-fluid" alt="">
                </div>
              </div>

            </div>
          </ng-template>

        </li>

      </ul>

      <div [ngbNavOutlet]="nav" class="mt-2"></div>
    </div>

  </div>

</section>
