<section class="py-5">
  <div class="container">
    <div class="row">

      <div class="col-12 py-4">
        <div class="d-flex justify-content-center">
          <div class="heading_section">
            <h2 class="text-center text-uppercase">AI ERP & CRM for business</h2>
            <h6 class="text-center">SMEs, Large Companies, Freelancers, Foundations</h6>
          </div>
        </div>
      </div>

      <div class="row pt-5">
        <div class="col-md-6">
          <div class="d-flex justify-content-start">
            <div class="heading_section">
              <p>
                We offering  best Software, Web Solutions and HRMS services, iSAP.HR has achieved the significant experience and technical expertise
                 essential to develop best Human Resource Management System (HRM).Human Resource Management, or HRM, is the practice of managing people to achieve better 
                 performance. For example, if you hire people into a business, you are looking for people who fit the company culture as they will be happier, stay longer,
                  and be more productive than people who won’t fit into the company culture.
              </p>

            </div>
          </div>
        </div>

        <div class="col-md-6">
          <div class="d-flex justify-content-start">
            <div class="heading_section">
              <p>
                Human Resource Management is the complete exercises and endeavors given in an association to deal with their representatives. In contrast to other 
                administrative exercises, this is considered however the most sensitive one as the center may be human resource, who are straightforwardly controlling
                 the tasks of an association. Progression in the innovation and corporate practices have controlled different effective practices to oversee and keep
                  up with the human asset. 
              </p>

            </div>
          </div>
        </div>
      </div>

      <div class="row py-5">

        <div class="col-md-6">
          <div class="d-flex justify-content-start">
            <div class="heading_section">
              <p>
                Human Resource Management System is a course of action of frameworks and cycles that interface human asset the board and data innovation through HR 
                programming framework. The capacity of the HR area incorporates following worker data the board framework like narratives, abilities, capacities, pays,
                 and exercises. Supplanting certain methods with different degrees of HRM frameworks can appropriate data the board errands so most of data gathering
                  isn’t assigned stringently to HR. By allowing representatives to refresh own data and complete different assignments, data is kept more exact and HR
                   experts are not stalled.
              </p>

            </div>
          </div>
        </div>

        <div class="col-md-6">
          <div class="d-flex justify-content-start">
            <div class="heading_section">
              <p>
                Human asset the board arrangements modernize a working environment. The framework permits associations to share data effectively utilizing worker
                 self-administrations, additionally diminishing information section and expanding precision by catching information at the source, permitting HR 
                 experts to work more astute, quicker, and all the more proficiently to accomplish each part of the association’s most significant business strength – 
                 the representative.
              </p>

            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</section>