<section class="section_2 py-5" id="erp_crm_software">
  <div class="container">
    <div class="row">

      <div class="col-12 py-4">
        <div class="d-flex justify-content-center">
          <div class="heading_section">
            <h2 class="text-center text-uppercase">AI ERP & CRM for business</h2>
            <h6 class="text-center">SMEs, Large Companies, Freelancers, Foundations</h6>
          </div>
        </div>
      </div>

      <div class="row pt-5">
        <div class="col-md-6">
          <div class="d-flex justify-content-start">
            <div class="heading_section">
              <p>
                ERP and CRM Software Services is a modern software package to manage your company or foundation’s
                activity CRM & Sales, Human Relationship Management (HR), CMS, Website, POS, Product & Stock, Finance &
                Billing, Marketing, Productivity, Integration, Development, contacts, suppliers, invoices, orders,
                stocks,ERP and CRM Software Services is a modern software package to manage your company or foundation’s
                activity CRM & Sales, Human Relationship Management (HR), CMS, Website, POS, Product & Stock, Finance &
                Billing, Marketing, Productivity, Integration, Development, contacts, suppliers, invoices, orders,
                stocks,agenda, accounting,
              </p>

            </div>
          </div>
        </div>

        <div class="col-md-6">
          <div class="d-flex justify-content-start">
            <div class="heading_section">
              <p>
                ERP and CRM Software Services is a modern software package to manage your company or foundation’s
                activity CRM & Sales, Human Relationship Management (HR), CMS, Website, POS, Product & Stock, Finance &
                Billing, Marketing, Productivity, Integration, Development, contacts, suppliers, invoices, orders,
                stocks,ERP and CRM Software Services is a modern software package to manage your company or foundation’s
                activity CRM & Sales, Human Relationship Management (HR), CMS, Website, POS, Product & Stock, Finance &
                Billing, Marketing, Productivity, Integration, Development, contacts, suppliers, invoices, orders,
                stocks,agenda, accounting,
              </p>

            </div>
          </div>
        </div>
      </div>

      <div class="row py-5">

        <div class="col-md-6">
          <div class="d-flex justify-content-start">
            <div class="heading_section">
              <p>
                ERP and CRM Software Services is a modern software package to manage your company or foundation’s
                activity CRM & Sales, Human Relationship Management (HR), CMS, Website, POS, Product & Stock, Finance &
                Billing, Marketing, Productivity, Integration, Development, contacts, suppliers, invoices, orders,
                stocks,ERP and CRM Software Services is a modern software package to manage your company or foundation’s
                activity CRM & Sales, Human Relationship Management (HR), CMS, Website, POS, Product & Stock, Finance &
                Billing, Marketing, Productivity, Integration, Development, contacts, suppliers, invoices, orders,
                stocks,agenda, accounting,
              </p>

            </div>
          </div>
        </div>

        <div class="col-md-6">
          <div class="d-flex justify-content-start">
            <div class="heading_section">
              <p>
                ERP and CRM Software Services is a modern software package to manage your company or foundation’s
                activity CRM & Sales, Human Relationship Management (HR), CMS, Website, POS, Product & Stock, Finance &
                Billing, Marketing, Productivity, Integration, Development, contacts, suppliers, invoices, orders,
                stocks,ERP and CRM Software Services is a modern software package to manage your company or foundation’s
                activity CRM & Sales, Human Relationship Management (HR), CMS, Website, POS, Product & Stock, Finance &
                Billing, Marketing, Productivity, Integration, Development, contacts, suppliers, invoices, orders,
                stocks,agenda, accounting,
              </p>

            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</section>