<!-- Header -->
<nav class="navbar navbar-expand-lg px-0 py-2">
  <div class="container-xl">

    <!-- Logo -->
    <a class="navbar-brand" href="#">
      <img src="assets/images/logo/iSAP HR LOGO (1).png" class="h-8" style="width: 200px;" alt="...">
    </a>

    <!-- Navbar toggle -->
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse"
      aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Collapse -->
    <div class="collapse navbar-collapse" id="navbarCollapse">

      <!-- Nav -->
      <div class="navbar-nav mx-lg-auto">
        <span class="nav-item nav-link" aria-current="page" [routerLink]="['/']" routerLinkActive="nav_active"
          [routerLinkActiveOptions]="{exact: true}">HOME</span>
        <span class="nav-item nav-link" aria-current="page" [routerLink]="['/about_us']" routerLinkActive="nav_active"
          [routerLinkActiveOptions]="{exact: true}">ABOUT US</span>

        <!-- PRODUCTS dropdown -->
        <div class="nav_dropdown">
          <span class="nav-link" aria-expanded=" false" [routerLink]="['/products']" routerLinkActive="nav_active"
            [routerLinkActiveOptions]="{exact: true}">PRODUCTS</span>

          <ul class="dropdown-content">
            <li><span class="nest_nav_span dropdown-item">Human Resource Management System</span></li>
            <li><span class="nest_nav_span dropdown-item">Timesheet and Attendance Management Software</span></li>
            <li><span class="nest_nav_span dropdown-item">Job Portal and Auto Recruitment Management Dashboard</span>
            </li>
            <li><span class="nest_nav_span dropdown-item">Recruitment Management System (RMS)</span></li>
          </ul>
        </div>

        <span class="nav-item nav-link" aria-current="page" [routerLink]="['/partners']" routerLinkActive="nav_active"
          [routerLinkActiveOptions]="{exact: true}">PARTNERS</span>
        <span class="nav-item nav-link" aria-current="page" [routerLink]="['/contact']" routerLinkActive="nav_active"
          [routerLinkActiveOptions]="{exact: true}">CONTACT US</span>
      </div>


      <!-- Action -->
      <div class="d-flex align-items-lg-center me-3 mt-3 mt-lg-0">
        <button class="btn btn-md btn-primary rounded-5 fw-bold w-full w-lg-auto demo_button">
          Request for Demo
        </button>
      </div>

      <a href="https://Portal.iSAP.one" target="_blank" class="d-flex align-items-lg-center me-5 mt-3 mt-lg-0">
        <button class="btn btn-md btn-primary rounded-5 fw-bold w-full w-lg-auto demo_button">
          Portal
        </button>
      </a>

    </div>

  </div>
</nav>