// Header
.navbar-nav {
  gap: 12px;

  span {
    text-transform: uppercase;
    font-weight: 500;
    font-size: 17px;
    border-radius: 10px;
    cursor: pointer;
    -webkit-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
    -ms-transition: 0.3s ease-in-out;
    -moz-transition: 0.3s ease-in-out;
    -o-transition: 0.3s ease-in-out;

    &:hover {
      background-color: #ebebeb;
    }
  }

  .nest_nav_span {
    font-size: 14px;
  }
}

.nav_dropdown {
  position: relative;
  display: inline-block;

  &:hover {
    .dropdown-content {
      display: flex;
    }
  }

  button {
    background-color: #4caf50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
  }

  .dropdown-content {
    display: none;
    flex-direction: column;
    row-gap: 10px;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    padding: 10px 5px;

    li {
      list-style: none;

      span {
        padding: 8px 10px;
      }
    }
  }
}

.nav_active {
  background-color: #ebebeb;
}
