<section class="py-5">
  <div class="container">
    <div class="row">

      <div class="col-12 d-flex justify-content-center align-items-center">

        <div class="w-100 content">


          <h5>HOW IT WORKS</h5>
          <h1>Manage all things HR for everyone in one powerful platform</h1>

          <h4>
            Bring contractors, EOR employees and employees hired through your own entities into one platform to
            automate the entire lifecycle and give everyone an exceptional experience.
          </h4>
        </div>
      </div>

    </div>

    <div class="row py-5">

      <div class="col-sm-4">
        <div class="card_container">
          <div class="card_body">
            <div class="image_container">
              <img src="assets/images/logo/icon-contract-ladder.svg" alt="">
            </div>

            <h4>Onboard anyone in minutes</h4>
            <p>Onboard any worker using our self-serve platform, with customizations tailored to each contract type.</p>
          </div>
        </div>
      </div>

      <div class="col-sm-4">
        <div class="card_container">
          <div class="card_body">
            <div class="image_container">
              <img src="assets/images/logo/icon-contract.svg" alt="">
            </div>

            <h4>Simplify HR tasks and save time</h4>
            <p>Manage time off, expenses, accesses, documents, compensation changes, and more in just one place.</p>
          </div>
        </div>
      </div>

      <div class="col-sm-4">
        <div class="card_container">
          <div class="card_body">
            <div class="image_container">
              <img src="assets/images/logo/icon-bullseye.webp" alt="">
            </div>

            <h4>Stay ahead of your global goals</h4>
            <p>Keep track of changes, understand global costs, and anticipate increases with built-in live reporting
              analytics.</p>
          </div>
        </div>
      </div>

    </div>
  </div>
</section>