<section>

  <!-- Banner Section -->
  <div class="background_img">
    <div class="bg_img_overlay"></div>

    <div class="content_section">
      <h2>About Us</h2>
    </div>
  </div>

  <div class="container">

    <div class="row mt-5 about_content">

      <div class="col-md-6">
        <div class="w-100 h-100 d-flex align-items-center">
          <div class="image_container">
            <img src="assets/images/sections/Aboutus.jpg" class="img-fluid" alt="">
          </div>
        </div>
      </div>
      <div class="col-md-6 d-flex align-items-center">
        <div class="w-100 h-100 d-flex align-items-center">
          <div class="w-100">

            <h2>We Are Dedicated To Make Your Business</h2>
            <p>At iSAP.HR, we stand at the forefront of revolutionizing HR solutions, bringing a blend of technological innovation and human-centric approaches to redefine workforce management. With a mission to empower organizations, we leverage cutting-edge tools and insights to address the diverse challenges of the modern workplace. Our team comprises experts in both HR and technology, working collaboratively to deliver tailored solutions that streamline processes, boost productivity, and foster a positive employee experience. From time tracking and attendance management to payroll integration and beyond, we are dedicated to providing comprehensive HR solutions that enable businesses to thrive in the ever-evolving landscape of work.
          
            </p>
<P>As advocates for organizational excellence, we believe in creating strategic partnerships with our clients, understanding their unique needs, and customizing our solutions to drive tangible results. By embracing the latest advancements in HR technology, we aspire to be the trusted partner that empowers businesses to build resilient, engaged, and high-performing teams. At iSAP.HR, our commitment extends beyond providing software – we are catalysts for positive workplace transformation, unlocking the full potential of every organization we serve. 
</P>
            <!-- <button class="btn btn-dark rounded-5">Read More</button> -->
          </div>
        </div>
      </div>

    </div>

    <div class="row about_content_2">
      <div class="col-12 position-relative">
        <div class="image_container img_1"></div>

        <!-- Content -->
        <div class="content_container_2">

          <div class="content">

            <h3>Our Vision</h3>

            <p>
              At iSAP.HR, our vision is to be the forefront innovator in HR solutions, envisioning a future where businesses seamlessly connect with their workforce. We aspire to set new standards in technology-driven HR management, providing visionary tools that transform how organizations nurture, engage, and optimize their talent. By shaping the future of work, we aim to empower businesses to thrive in an ever-evolving global landscape.
            </p>
          </div>
        </div>

      </div>
    </div>

  </div>

  <div class="container-fluid service_section">
    <div class="row">

      <div class="col-12 py-3">
        <div class="d-flex justify-content-center">
          <div class="heading_section">
            <h2 class="text-center text-uppercase">Services</h2>
          </div>
        </div>
      </div>

      <owl-carousel-o [options]="customOptions">

        @for (slide of slidesStore; track slide.id) {
        <ng-container>
          <ng-template carouselSlide [id]="slide.id">
            <div class="owl_img">
              <img [src]="slide.src" alt="img">
            </div>
          </ng-template>
        </ng-container>
        }

      </owl-carousel-o>

    </div>
  </div>

  <div class="container">
    <div class="row about_content_2">
      <div class="col-12 position-relative">
        <div class="image_container img_2"></div>

        <!-- Content -->
        <div class="content_container_2">

          <div class="content">

            <h3>Our Mission</h3>

            <p>
              At iSAP.HR, our mission is to redefine HR solutions, providing cutting-edge tools and insights that empower businesses to cultivate a dynamic and engaged workforce. We strive to simplify complexities, enhance efficiency, and foster a workplace environment where employees thrive. With innovation at our core, we are dedicated to driving success for organizations by delivering tailored HR solutions that elevate the employee experience and contribute to sustained growth.</div>
        </div>

      </div>
    </div>
  </div>

</section>