<section>

  <!-- Banner Section -->
  <div class="background_img">
    <div class="bg_img_overlay"></div>

    <div class="content_section">
      <h2>Finance & Accounting Management</h2>
    </div>
  </div>

  <div class="container">

    <div class="row mt-5 about_content">

      <div class="col-md-6">
        <div class="w-100 h-100 d-flex align-items-center">
          <div class="image_container">
            <img src="assets/images/sections/Aboutus.jpg" class="img-fluid" alt="">
          </div>
        </div>
      </div>
      <div class="col-md-6 d-flex align-items-center">
        <div class="w-100 h-100 d-flex align-items-center">
          <div class="w-100">

            <h2>We Are Dedicated To Make Your Business</h2>
            <p>AxolonERP is a software company based in Dubai, United Arab Emirates. Established in 2007, we are
              dedicated
              to designing and developing quality software for businesses. AxolonERP delivers the proven,
              comprehensive
              financial management capabilities required to grow a changing, complex business. AxolonERP takes your
              business
              beyond traditional accounting software by streamlining operations across your entire organization and
              providing you with the real-time visibility you need to make better, faster decisions at its core.
              AxolonERP
              software helps your employees to do their jobs more efficiently by consolidating the use of disparate
              systems,
              removing isolated spreadsheets, and breaking down barriers between business departments or business
              units.
              We
              currently have several products and services serving many companies in UAE and other countries.</p>

            <button class="btn btn-dark rounded-5">Read More</button>
          </div>
        </div>
      </div>

    </div>

    <div class="row about_content_2">
      <div class="col-12 position-relative">
        <div class="image_container img_1"></div>

        <!-- Content -->
        <div class="content_container_2">

          <div class="content">

            <h3>Our Vision</h3>

            <p>
              Our vision is to be the most valuable supporter of small and medium-sized companies by creating freedom
              and
              excellent solutions for them to succeed. We provide small and medium-sized businesses with a range of
              easy-to-use but powerful Business Management Software and services – from accounting and payroll to
              enterprise resource planning (ERP), Business Management Software, customer relationship management
              (CRM),
              and other software. Our customers receive continuous advice and support through our local experts to
              help
              them solve their business problems, giving them the confidence to achieve their business ambitions.
            </p>
          </div>
        </div>

      </div>
    </div>

  </div>

  <div class="container-fluid service_section">
    <div class="row">

      <div class="col-12 py-3">
        <div class="d-flex justify-content-center">
          <div class="heading_section">
            <h2 class="text-center text-uppercase">Services</h2>
          </div>
        </div>
      </div>

      <owl-carousel-o [options]="customOptions">

        @for (slide of slidesStore; track slide.id) {
        <ng-container>
          <ng-template carouselSlide [id]="slide.id">
            <div class="owl_img">
              <img [src]="slide.src" alt="img">
            </div>
          </ng-template>
        </ng-container>
        }

      </owl-carousel-o>

    </div>
  </div>

  <div class="container">
    <div class="row about_content_2">
      <div class="col-12 position-relative">
        <div class="image_container img_2"></div>

        <!-- Content -->
        <div class="content_container_2">

          <div class="content">

            <h3>Our Mission</h3>

            <p>
              To hold the responsibility for making the technology simple, accessible, and affordable to all,
              irrespective of the volume of their business, without compromising on quality. We adopt world-class
              standards in serving our customers. We always keep the customers at the front. We strive to simplify
              life
              with the latest and updated technology.
            </p>
          </div>
        </div>

      </div>
    </div>
  </div>

</section>