<!-- Footer -->
<footer>

  <div class="container">
    <div class="row">

      <div class="col-md">
        <div class="mb-4">
          <div class="footer_logo_img" (click)="refreshPage()">
            <img class="img-fluid" src="assets/images/logo/iSAP HR LOGO (1).png" alt="">
          </div>

          <p>Elevate your workforce management with our comprehensive HR solution for seamless efficiency and employee empowerment.</p>

          <ul class="social_icons_item mt-5">
            <li><a href="" target="_blank"><i class="bi bi-facebook"></i></a>
            </li>

            <li><a href="" target="_blank"><i class="bi bi-linkedin"></i></a>
            </li>

            <li><a href="" target="_blank"><i class="bi bi-instagram"></i></a>
            </li>

            <li><a href="" target="_blank"><i class="bi bi-whatsapp"></i></a>
            </li>

            <li><a href="" target="_blank"><i class="bi bi-telephone"></i></a>
            </li>

            <li><a href="" target="_blank"><i class="bi bi-envelope"></i></a>
            </li>

          </ul>
        </div>
      </div>

      <div class="col-md">
        <div class=" mb-4 ml-md-4">
          <h2>Links</h2>

          <ul class="list-unstyled">
            <li>
              <span class="bi bi-arrow-right-short mr-2"></span>Home
            </li>
            <li>
              <span class="bi bi-arrow-right-short mr-2"></span>About Us
            </li>
            <li>
              <span class="bi bi-arrow-right-short mr-2"></span>Products
            </li>
            <li>
              <span class="bi bi-arrow-right-short mr-2"></span>Partners
            </li>
            <li>
              <span class="bi bi-arrow-right-short mr-2"></span>Contact Us
            </li>
          </ul>
        </div>
      </div>

      <div class="col-md">
        <div class=" mb-4">
          <h2>Services</h2>
          <ul class="list-unstyled">
            <li>
              <span class="bi bi-arrow-right-short mr-2"></span>
              HRM System
            </li>
            <li>
              <span class="bi bi-arrow-right-short mr-2"></span>
              Timesheet & Attendance 
            </li>
            <li>
              <span class="bi bi-arrow-right-short mr-2"></span>
              Job Portal & Auto Recruitment 
            </li>
            <li>
              <span class="bi bi-arrow-right-short mr-2"></span>
              Recruitment Management System
            </li>
          </ul>
        </div>
      </div>

      <div class="col-md">
        <div class=" mb-4">
          <h2 class="ftco-heading-2">Have a Questions?</h2>
          <div class="block-23 mb-3">
            <ul>
              <li><span class="icon icon-map-marker"></span><span class="text">iSAP Solutions, Digital Park
                  Building A2 Dubai Silicon Oasis, Dubai, United Arab Emirates</span></li>
              <li><a href="#"><span class="icon icon-phone"></span><span class="text">+971 585033300</span></a>
              </li>
              <li><a
                  href="https://mail.google.com/mail/?view=cm&fs=1&to=partner@baqalatexpress.com&su=&body=&bcc="><span
                    class="icon icon-envelope"></span><span class="text"><span class="__cf_email__"
                      data-cfemail="1871767e775861776d6a7c7775797176367b7775">contact&#64;isap.hr</span></span></a>
              </li>

            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 text-center">
        <p>
          Copyright &copy;
          <script data-cfasync="false"
            src="../../cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script>
          <script>document.write(new Date().getFullYear());</script> <a href="https://isap.solutions/"
            target="_blank"><strong>iSAP Solutions. </strong> </a> All rights reserved.

        </p>
      </div>
    </div>
  </div>
</footer>