<section>
  <div class="container">
    <div class="row pt-5">
      <div class="col-12">
        <h1 class="text-center"> Objectives of HRM</h1>
      </div>
    </div>

    <div class="row py-5">


      <div class="col-md-4">
        <div class="list_container">
          <div class="list_content">

            <p>
              <strong>Societal objectives:</strong> These are measures put in place to respond to the ethical and social needs or challenges of the company and its employees. This includes legal issues such as equal opportunity and equal pay for equal work.
            </p>

            <p>
              <strong>Organizational objectives:</strong> These are actions taken to ensure organizational efficiency, including providing the appropriate training, hiring the right number of employees for a given task and maintaining high employee retention rates.
            </p>
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="image_contaner">
          <img src="assets/images/sections/section_6.jpeg" class="img-fluid" alt="">
        </div>
      </div>

      <div class="col-md-4">
        <div class="list_container">
          <div class="list_content">
            <p>
              <strong>Functional objectives:</strong> These are the guidelines used to keep HR functioning properly within the organization. They include ensuring all HR resources are allocated to their full potential.
            </p>

            <p>
              <strong>Personal objectives:</strong> These are the resources used to support the personal goals of each employee. They include opportunities for education and career development, as well as maintaining employee satisfaction.
            </p>
          </div>
        </div>
      </div>

    </div>

  </div>
</section>