<section>
  <div class="container">
    <div class="row py-5">
      <div class="col-12">
        <h1 class="text-center"> Objectives of HRM</h1>
      </div>
    </div>

    <div class="row py-5">


      <div class="col-md-4">
        <div class="list_container">
          <div class="list_content">

            <p>
              <strong>ipsum dolor, sit</strong> amet consectetur adipisicing elit. Aspernatur provident rem soluta,
              dicta
              doloribus
              vitae. Voluptatibus deleniti id vel impedit ullam! Voluptatem explicabo amet libero expedita deserunt?
              Laudantium, veniam voluptatem.
            </p>

            <p>
              <strong>ipsum dolor, sit</strong> amet consectetur adipisicing elit. Aspernatur provident rem soluta,
              dicta
              doloribus
              vitae. Voluptatibus deleniti id vel impedit ullam! Voluptatem explicabo amet libero expedita deserunt?
              Laudantium, veniam voluptatem.
            </p>
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="image_contaner">
          <img src="assets/images/sections/section_6.jpeg" class="img-fluid" alt="">
        </div>
      </div>

      <div class="col-md-4">
        <div class="list_container">
          <div class="list_content">
            <p>
              <strong>ipsum dolor, sit</strong> amet consectetur adipisicing elit. Aspernatur provident rem soluta,
              dicta
              doloribus
              vitae. Voluptatibus deleniti id vel impedit ullam! Voluptatem explicabo amet libero expedita deserunt?
              Laudantium, veniam voluptatem.
            </p>

            <p>
              <strong>ipsum dolor, sit</strong> amet consectetur adipisicing elit. Aspernatur provident rem soluta,
              dicta
              doloribus
              vitae. Voluptatibus deleniti id vel impedit ullam! Voluptatem explicabo amet libero expedita deserunt?
              Laudantium, veniam voluptatem.
            </p>
          </div>
        </div>
      </div>

    </div>

  </div>
</section>